body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrap {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
/* ============================================================================================ */


/* ===========================
  APP
==============================*/
.App {
  text-align: center;
}

.title {
  font-size: 2em;
  padding: 40px;
  position: relative;
  z-index: 6;
  color: white;
}

.date-container {
  .date-title {
    position: relative;
    z-index: 6;
    color: white;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
    padding-right: 20px;
  }

  .date {
    font-size: 1.5em;
    border: 2px solid white;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    vertical-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 6;
    color: white;
    display: inline-block;
  }

  .change {
    margin-left: 10px;
    background: white;
    color: black;
    font-size: 1.4em;
  }

  .popup {
    position: fixed;
    z-index: 7;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);

    .popup_inner {
      position: absolute;
      left: 38%;
      right: 38%;
      top: 25%;
      bottom: 60%;
      margin: auto;
      background: white;
    }
  }
}

/*==================================
  CARD
====================================*/
.card-container {
  display: flex;
  justify-content: space-around;
}

iframe {
  width: 700px;
  height: 400px;
  position: relative;
  z-index: 6;
  border: 5px solid rgb(40, 103, 174);
}

img {
  width: 700px;
  height: 400px;
  position: relative;
  z-index: 6;
  border: 5px solid rgb(40, 103, 174);
}

.left-child {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 40px 40px 40px 60px;

  .photo-title {
    display: flex;
    width: 100%;
    justify-self: baseline;
    padding-bottom: 20px;
    font-size: 1.5em;
    position: relative;
    z-index: 6;
    color: white;
  }
}

.right-child {
  display: flex;
  padding: 40px 60px 40px 0px;

  .explanation {
    padding-top: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0px;
    position: relative;
    z-index: 6;
    color: white;
  }
  
}